nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--background);
    z-index: 1;
}
    #navR {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
        #search-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: var(--var-search);
            border: solid 1px #909090;
            border-radius: 2rem;
            padding: 0 0 0 2rem;
            transition: all 1s ease;
            box-shadow: 0 4px 5px var(--shadow);
        }
            #search-input {
                border: none;
                outline: none;
                padding: 10px;
                font-size: 18px;
                width: var(--width-max);
                background: var(--var-search);
            }
            .actions {
                display: contents;
            }
                .actions span {
                    border: none;
                    background: none;
                    cursor: pointer;
                    color: var(--background);
                    padding: 10px;
                }               
                    .actions span:hover {
                        color: #000000;
                    }
                        .material-symbols-outlined {
                            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
                        }
    #login {
        padding: .85rem 2.5rem;
        border: solid 1px var(--highlighted-text);
        color: var(--highlighted-text);
        background-color: var(--background);
    }
        #login:hover{
            cursor: pointer;
            box-shadow: 0 4px 8px var(--shadow);
        }
#banner {
    background-image: url(../img/banner-image.png);
    background-repeat: round;
    background-size: cover;
    max-width: var(--width-max);
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
}
    #promotion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: var(--width-max);
        margin: auto;
        height: 170px;
        background-color: var(--without);
    }
        .textPromotion {
            color: var(--var-search);
            font-size: 30px;
        }
        .textPromotion:first-child {
            font-size: 55px;
        }
        #btnPromotion {
            padding: 0.60rem 1rem;
            color: var(--var-search);
            background-color: var(--highlighted-text);
            border: solid 1px var(--highlighted-text);
            cursor: pointer;
        }

    @media screen and (max-width: 700px) {
        #navR {
            gap: 6px;
        }
            #search-bar {
                display: none;
            }
        .textPromotion {
            font-size: 20px;
        }
        .textPromotion:first-child {
            font-size: 45px;
        }
        #login {
            padding: 12px 1.5rem;
        }
    }