:root {
    --test: red;
    --background: #ececec;
    --background-products: #e0e0e0;
    --background-footer: #e0eeff;
    --var-search: #ffffff;
    --shadow: #999999;
    --highlighted-text: #2A7AE4;
    --without: transparent;
    --width-specific-monitor: 1136px;
    --width-specific-tablet: 600px;
    --width-specific-phone1: 480px;
    --width-specific-phone2: 240px;
    --width-max: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    font-family: 'Raleway';
}

main {
    width: var(--width-max);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}
    .lineProducts {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }
        .titleLineproducts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--background-products);
            padding: 0 10px 0 10px;
        }
            .textTitle {
                font-size: 32px;
            }
            .titleLineproducts > section {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                color: var(--highlighted-text);
                cursor: pointer;
                font-size: 16px;
            }
        .products {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: var(--width-specific-monitor);
            background-color: var(--background-products);
            padding: 10px;
        }
            .prodct {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-size: 14px;
                width: 176px;
            }
                p:last-child {
                    color: var(--highlighted-text);
                    cursor: pointer;
                }
@media screen and (max-width: 1156px) {
    .products {
        width: var(--width-specific-tablet);
    }
}
@media screen and (max-width: 600px) {
    .products {
        width: var(--width-specific-phone1);
    }
}
@media screen and (max-width: 490px) {
    .products {
        width: var(--width-specific-phone2);
    }
    .prodct {
        width: 90px;
    }
}
